body
{
  background-image: url("../images/bois.jpg");
  background-attachment: fixed;
}

p, h1, a, h2
{
  color: rgb(122,67,41);
}

article
{
  text-align: justify;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.button
{
    text-decoration: none;
    border: 5px outset rgb(122,67,41);
    padding: 25px;
}

.button:hover
{
  font-size: large;
  box-shadow: 8px 8px 4px rgb(122,67,41)
}

.mainTitle
{
  text-align: center;
  text-shadow: 3px 3px 4px;
  margin-left: 50px;
  vertical-align: middle;
  font-size: 2.5em;
  font-family: 'Bungee-Shade', cursive;
}

.subTitle
{
  text-align: left;
  font-weight: bold;
  text-shadow: 2px 2px 2px;
  font-family: 'Permanent Maker', cursive;
}

.mainNav
{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  font-family: 'Bungee-Regular',cursive;
}

.list
{
  color: rgb(122,67,41);
  font-size: 1.5em;
  font-style: italic;
  text-decoration: underline;
}

.toolbox
{
  display:block;
  position: fixed;
  right:5px;
  background-color: rgba(173,163,150,0.5);
  width: 24%;
}

.element:hover
{
  text-indent: -5px;
}

.IMG_myself
{
  float:left;
  width: 50%;
  height: 50%;
  opacity: 0.87;
  margin-right: 5px;
}

._element
{
  display: flex;
  justify-content: flex-start;
  width:auto;
  margin-left: 5px;
  margin-bottom: 5px;
}

._element:hover
{
  margin-left: 10px;

}

#followOn
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#header
{
  display: flex;
  justify-content:center;
  margin:auto;
  vertical-align: middle;
}

#headerSeparator
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid rgb(122,67,41);
  margin: 1em 0;
  padding: 0;
}
